<!DOCTYPE html>
<html lang="en">
<head>
  <title>JQuery Ajax - Bootstrap - NodeJS/Express - MySQL</title>
  <meta charset="utf-8">

  <style>
	.comentariosApp{
	  position: fixed !important;
	  right: 10%;
	  top: 20%;
	  background-color: silver;
	}
</style>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/static/js/getrequest.js"></script>
  <script src="/static/js/postrequest.js"></script>
</head>
 
<body> 
<div class="container"> 

	<div class="col-sm-4">
		<h3>Smakio - Desafio Watson/AJAX/Nodejs</h3>
		<div>

		
		<form id="customerForm">

		   
		  <div class="form-group">
			<label for="firstname">Seu nome:</label>
			<input type="text" class="form-control" id="firstname" placeholder="Digite aqui seu nome"/>
		  </div>
		  <div class="form-group">
			<label for="lastname">Comentário:</label>
			<input type="text" class="form-control" id="lastname" placeholder="Digite aqui seu comentário"/>
		  </div>
		  <button type="submit" class="btn btn-default">Enviar</button>
		</form>
	</div>
	<div id="postResultDiv">
	</div>
	<br>
	<div>
		<button id="allCustomers" type="button" class="btn btn-default">Atualizar lista</button>
		<div id="getResultDiv" class="comentariosApp">
			<h3>Comentários do sistema</h3>
	        <ul class="list-group">
	    	</ul>
    	</div>
	</div>
</div>	
</div>

</body>
</html>