<!DOCTYPE html>
<html lang="en">
<head>
  <title>Desafio SMARKIO - Usando MySQL e Watson com nodejs</title>
  <meta charset="utf-8">

  <style>
	.brand-text{
	  color: white !important;
	}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/static/js/getrequest.js"></script>
  <script src="/static/js/postrequest.js"></script>
</head>
 
<body> 

	<nav class="navbar navbar-expand-lg navbar-success bg-success">
		<a class="navbar-brand brand-text" href="/">Desafio SMARKIO - Usando MySQL e Watson com nodejs</a>
	  </nav>

	  <div class="container mt-5">
		<div class="row">
		  <div class="col-md-7">
	  
			<form id="customerForm">
				
				<div class="form-group">

					<label for="lastname">Comentários</label>
  <textarea class="form-control" id="lastname" rows="7" placeholder="Digite aqui seu comentário"></textarea>


				</div>
				<button type="submit" class="btn btn-default">Enviar</button>
			  </form>
			
		  </div>
		  <div class="col-md-5">
			<div class="card-body">
	  
			  <table class="table table-bordered table-hover">
				<div>
					<button id="allCustomers" type="button" class="btn btn-default">Atualizar lista</button>
					<div id="getResultDiv" class="comentariosApp">
						<h3>Comentários do sistema</h3>
						<ul class="list-group">
						</ul>
					</div>
				</div>
			  </table>
	  
			  
			</div>
		  </div>
		</div>
	  </div>


<div class="container"> 

	<div class="col-sm-4">
		<div>

		
		
	</div>
	<div id="postResultDiv">
	</div>
	<br>
	
</div>	
</div>

</body>
</html>